<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des Identifiants</title>
  <link rel="stylesheet" href="../assets/css/popup.css">
</head>
<body>
    <h1>Liste des Identifiants</h1>
    <div id="credentialsList"></div>
    <button id="backButton">Retour</button>

    <!-- Modèle pour les éléments de la liste des identifiants -->
    <template id="credential-template">
        <div class="credential-item">
            <strong>Domain:</strong> <span class="domain"></span><br>
            <strong>Username:</strong> <span class="username"></span> <button class="copy-username">📋</button><br>
            <strong>Password:</strong> <span class="password">********</span>
            <div class="icon-container">
                <button class="toggle-password">👁️</button>
                <button class="copy-password">📋</button>
                <button class="delete-credentials">🗑️</button>
            </div>
        </div>
    </template>

    <script src="../js/credentials.js"></script>
</body>
</html>
