<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestionnaire de Mots de Passe</title>
  <link rel="stylesheet" href="../assets/css/popup.css">
</head>
<body>
    <h1 class="Titre">PassePasPartout</h1>
    <input type="text" id="username" placeholder="Enter username">
    <input type="password" id="password" placeholder="Enter password">
    <button id="saveButton">Save</button>
    <button id="loadButton">Load</button>
    <button id="showListButton">Afficher la Liste</button>
    <div id="statusMessage"></div>
    <script src="../js/popup.js"></script>
</body>
</html>
